#part{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid thistle;
    border-bottom: 1px solid thistle;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: lavender;
}
#content{
    text-align: center;
    width: 300px;
}
@media screen and (max-width:600px){
    #part{
        flex-direction: column;
    }
    #content{
        margin-bottom: 10px;
    }
}