#NavBar{
    display: flex;
    justify-content:center;
    text-align: center;
    background-color: rgb(245, 223, 245);
    color: black;
    border: 0.5px solid rgb(252, 249, 252);
    margin-top: 0px;
    transform: translateY(-5px);
}
#Link{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}
#Link:hover{
    /* background-color:transparent; */
    background: linear-gradient(270deg,lightgreen,skyblue);
    color: white;
    text-shadow: 2px 2px 2px green;
    border:1px solid gray;
}
.Link{
    border-left: 1px solid thistle;
    border-right: 1px solid thistle;
}