#title{
    text-align: center;
}
#subNav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#subNav-in{
    margin-left:5px ;
    margin-right:5px ;
    margin-top:2px;
    margin-bottom: 2px;
    padding: 10px;
}
#subNav-in:hover{
    color: rgb(31, 121, 224);
    border-bottom: 2px solid rgb(31, 121, 224);
}
#title1{
    text-align: center;
    color:red;
}